.parent-position {
    width: 400px;
    height: 400px;
    background-color: #ccc;

    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #000;

    border-right: 5px dotted #F02;

    border-bottom: 5px dashed #995;

    border-left: 5px double #517;


    border: 7px solid #000;

    /* border-radius: 40px;  Все стороны */
    /* border-radius: 40px 80px; По диоганали */
    /* border-radius: 40px 80px 3px;  1 - top, 2 - right left, 3-bottom */
    /* border-radius: 40px 80px 3px 120px;  */
    border-radius: 10px; 






    position: relative;



}

/* 
    colors
    Hex-code: 0-9 A-F # ---- #ccc 

    rgb: red green blue - 255 ---- rgb(25, 12, 88);
    
    rgba: red green blue alpha - 255, 0-1 ---- rgba(25, 12, 88, 1);
*/


.child-poisition {
    width: 150px;
    height: 150px;
    background-color: red;

    position: absolute;
    
    top: 30%;
    right: 0;
    bottom: 0;
    left: 30%;

    z-index: 2;
}

.second {
    background-color: blue;
    top: 25%;
    left: 25%;
    z-index: 1;
}

.third {
    background-color: lightgreen;
    top: 35%;
    left: 35%;
    z-index: 0;
}

.child-poisition.second {
    background-color: yellow;
}

.child-poisition.third {
    background-color: indigo;
}


.fixed-circle {
    width: 60px;
    height: 60px;
    background-color: orange;
    border-radius: 50%;
    border: 5px solid black;

    position: fixed;
    right: 20px;
    bottom: 20px;
}

/* body {
    height: 5000px;
} */

.header {
    background-color: gray;
    height: 50px;

    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
    /* justify-content: center; */

    align-items: center;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    flex-direction: row;



    margin-top: 20px;

    /* margin: 20px 30px 40px 10px; */

    padding-left: 50px;
    padding-right: 50px;
    padding: 10px 50px;
}


.header-item {
    border: 1px solid lime;
}





.portfolio {
    margin-top: 50px;
    background-color: #ccc;
    width: 100%;


    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


    padding-top: 40px;
}


.portfolio-item {
    background-color: orange;
    width: 30%;
    height: 250px;
    margin-bottom: 40px;
}

.portfolio-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 27.02.2021 CSS */


.box {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: 25px 0;
    transition: 1s;
}


/* 
     pseudo-class

    selectore:hover {
        property: value;
    }

*/

.box:hover {
    background-color: orange;
    /* transition: 1s; */
}

.my-link-list {
    display: flex;
    list-style-type: none;
    border: 1px solid black;
    width: fit-content;
}

/* .my-link-list > li {
    margin-right: 20px;
} */

.my-link-list > li:last-child {
    background-color: green;
}

.my-link-list > li:first-child {
    background-color: red;
}

.my-link-list > li:nth-child(3) {
    background-color: yellow;
}

.my-link-list > li:nth-child(1) {
    background-color: pink;
}

.my-link-list > li:nth-child(n) {
    background-color: pink;
}
/* 
    odd - не четное 
    even - четное
*/

.my-link-list > li:nth-child(2n - 1) {
    background-color: lime;
}

.my-link-list > li:not(:last-child) {
    margin-right: 20px;
}



.action-box {
    width: 400px;
    height: 400px;
    margin: auto;
    border: 2px solid black;
    transition: 0.5s;
}


.action-box:hover {
    /* border-radius: 50%; */
    transform: rotate(360deg);
    transform: translateX(-30px);
    transform: translateY(30px);
    transform: translate(50px, 20px);
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    transform: skew(-45deg);
    transform: scale(1.3);
}

.text {
    transition: .3s;
    margin: auto;
    width: fit-content;
}

.text:hover {
    transform: scale(1.3);
}


.content-box {
    width: 300px;
    height: 300px;
    margin: 50px auto;

    position: relative;
}

.content-box > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inner-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: orange;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;

    opacity: 0;
    transition: .5s;
}


.content-box:hover > .inner-content {
    opacity: 1;
}