.box, .origin-box {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    transition: .5s;

    position: relative;
    overflow: hidden;
}

/* .box:hover {
    transform: translate3d(10px, 20px, 0);
} */

.inner-box, .inner-origin {
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;

    background-color: lightblue;

    transform: translate3d(-8%, -8%, 0);
    transition: .3s;
    opacity: 0;
}

.box:hover .inner-box {
    transform: none;
    opacity: 1;
}

.origin-box {
    margin: auto;
    border-color: blue;
    transition: .5s;
    position: relative;
}


.inner-origin {
    transform: none;
    transition: .3s;
    opacity: 1;
    transform-origin: top right;
}

.origin-box:hover .inner-origin {
    transform: rotate(40deg);
    /* transform: scale(1.2); */
}

.btn {
    width: 300px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;

    position: relative;
    z-index: 3;
}


.btn::before, .btn::after {
    content: "";
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .2s;
}

.btn::before {
    border: 6px solid black;
    z-index: 2;
    opacity: 0;
    transform: scale(1.1);
}

.btn::after {
    background-color: lightblue;
    z-index: -1;
}

.btn:hover::after {
    transform: scale(1.2);
    opacity: 0;
}

.btn:hover::before {
    opacity: 1;
    transform: scale(1);
}
.btn:hover {
    color: #000;
}

.btn-z {
    margin-top: 50px;
    color: black;
}

.btn-z::after {
    background: none;
    border: 6px solid purple;
    transform: translate3d(15%, -15%, 0);
    opacity: 0;
}

.btn-z::before {
    opacity: 1;
    transform: scale(1);
}

.btn-z:hover::before {
    transform: translate3d(-15%, 15%, 0);
    opacity: 0;
}
.btn-z:hover::after {
    transform: none;
    opacity: 1;
}