/* SETTINGS (Reset.css, Same.css) */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

.container {
    padding-right: 5%;
    padding-left: 5%;
}

.wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.paddings {
    padding-top: 80px;
    padding-bottom: 80px;
}


.title {
    font-size: 26px;
    font-weight: 600;
}

.text {
    font-size: 16px;
    font-weight: 400;
    color: #848484;
}

.btn {
    width: 180px;
    height: 60px;
    border: none;
    background-color: #2951E2;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.center .title {
    text-align: center;
    margin-bottom: 40px;
}



/* HEADER */
/* 

светло серый: #E4F2FF
синий: #2951E2
серый: #848484
светло синий: #33CFEF 

*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #E4F2FF;
}

.header a {
    color: #000;
}

.header.fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;

    z-index: 10;
}

.logo {
    font-weight: bold;
    text-transform: capitalize;
}

.navs > a {
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: 500;
    transition: .3s;
}

.navs > a:hover {
    color: #848484;
}


.mobile-bar {
    display: none;
}




/* HOME */

.home {
    background-image: url(../images/bg.jpeg);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 250px;
    padding-bottom: 250px;
}

.home-content {
    padding-right: 45%;
}

.home-content  > h3{
    font-size: 42px;
    color: #B22B30;
    margin-bottom: 20px;
}


/* ABOUT */


.about-block {
    width: 48%;
}

.about-bg {
    background-image: url(../images/red.jpeg);
    background-size: cover;
    background-position: center;
    height: 500px;
}

.about .text {
    margin: 25px 0 30px;
}



/* SERVICES */

.service-item {
    width: 24%;
    text-align: center;
}

.service-item > i {
    font-size: 30px;
}



/* PROJECT */


.project-item {
    width: 30%;
    height: 280px;
    margin-bottom: 30px;
    box-shadow: 0 0 4px -2px rgba(0, 0, 0, .3);
    /* 
        1 - X
        2 - Y
        3 - blur
        4 - spread
        5 - color
    */


    position: relative;
}

.project-item >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, .7);
    transition: .4s;

    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-weight: 600;

    opacity: 0;
    transform: scale(0);
}

.project-item:hover .project-info {
    transform: none;
    opacity: 1;
}



/* TEAM */


.team-item {
    width: 32%;
    border: 1px solid #848484;
    text-align: center;
}

.team-item > img {
    width: 100%;
}


/* REVIEWS */

.review-item {
    text-align: center;
}

.review-item > img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.review-item > p {
    margin: 30px 0;
}


/* Contacts */

.map {
    width: 100%;
    height: 350px;
}

.map iframe{
    width: 100%;
    height: 100%;
}


/* FOOTER */


.footer {
    background-color: #B22B30;
    text-align: center;
    color: #fff;
    padding: 30px 0;
}




/* ADAPTIVE */



@media (max-width: 820px) {
    .navs {
        display: none;
    }
    .mobile-bar {
        display: block;
    }

    .home-content {
        padding: 0 4%;
    }
    .home-content > h3 {
        color: #fff;

    }

    .about-block {
        width: 100%;
    }
    .item {
        width: 48%;
        margin-bottom: 40px;
    }
}
@media (max-width: 480px) {
    .item {
        width: 100%;
    }
}