.project-navs {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.project-navs>button {
    border: none;
    background: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 20px;
    font-weight: 500;
    color: #9B9B9B;
    transition: .4s;
}

.project-navs>button.active {
    color: #6689FF;
}

.project-navs>button:not(:last-child) {
    border-right: 1px solid #D7D7D7;
}

.project-navs>button:hover {
    color: #6689FF;
}

.projects {
    padding-left: 3%;
    padding-right: 3%;
}

.project-item {
    position: relative;
    margin-bottom: 30px;
    width: 32%;
}

.project-item>img {
    width: 100%;
    height: 100%;
}

.project-info {
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 8%;
    opacity: 0;
    transition: .3s;
    transform: translate3d(-10%, -10%, 0);
}

.project-info a.fas {
    margin-right: 15px;
    font-size: 36px;
    color: #000;
    transition: .5s;
}

.project-info>.btn-row {
    align-items: center;
    margin-bottom: 20px;
}

.project-info a.project-link {
    color: #6689FF;
    font-weight: 500;
    transition: .5s;
}

.project-info a.project-link:hover {
    opacity: .5;
}

.project-info a.fas:hover {
    color: #6689FF;
}

.project-item:hover .project-info {
    opacity: 1;
    transform: none;
}


/*  Stat  */

.block-stat.container, .partners{
    padding: 0 10%;
}

.stat-item {
    width: 55%;
}

.stat-digits {
    width: 38%;
    position: relative;
}

.ten {
    width: 48%;
    font-size: 280px;
    font-weight: 600;
    color: #6689FF;
}

.experience {
    width: 48%;
}


.experience > h4 {
    border-left: 3px solid #9B9B9B;
    font-size: 32px;
    line-height: 1.2;
    padding-left: 20px;
    font-weight: 500;
}

.experience > p {
    margin: 28px 0;
    color: #9B9B9B;
}

.experience > a {
    margin-left: 0;
}

.digit-item {
    width: 48%;
    text-align: center;
    margin-top: 40px;
}

.digit-item:nth-child(-n+2) {
    margin-top: 0;
    margin-bottom: 40px;
}


.digit-item > h3 {
    font-size: 100px;
    line-height: 1;
}

.digit-item > p {
    color: #9B9B9B;
}

.digit-item > h3 > span {
    font-size: 50px;
}

/* .digit-item:first-child {
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}
.digit-item:last-child {
    border-left: 1px solid #D7D7D7;
    border-top: 1px solid #D7D7D7;
} */


.stat-digits::after, .stat-digits::before{
    content: "";
    background-color: #D7D7D7;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    margin: auto;
}


.stat-digits::before {
    width: 100%;
    height: 1px;
}





/* Partner */


.partner-item {
    width: 23%;
    height: 110px;
    border: 1px solid #D7D7D7;
    opacity: .5;
    position: relative;
    transition: .3s;
}

.partner-item::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 8px;
    left: 8px;
    bottom: 8px;
    border: 1px solid black;
    opacity: 0;
    transition: .3s;
}

.partner-item > img {
    width: 100%;
    height: 100%;
    transition: .3s;
}

.partner-item:hover::after {
    opacity: 1;
}

.partner-item:hover {
    border-color: #000;
    opacity: 1;
}

.partner-item:hover > img {
    transform: scale(.8);
}