.service-block {
    width: 50%;
}

.service-item {
    width: 47%;
    height: 270px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
}

.service-item>h3 {
    font-size: 28px;
    font-weight: 500;
    padding-left: 20%;
    padding-right: 20%;
}

.line {
    width: 70px;
    height: 2px;
    background-color: #EAEAEA;
    margin: 18px 0;
    transition: .4s;
}

.service-item>p {
    padding-left: 6%;
    padding-right: 6%;
}

.service-item>h4 {
    font-size: 18px;
    font-weight: 500;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 20px;
    transition: .4s;
}

.service-item>i {
    font-size: 36px;
}

.service-item:hover .line {
    transform: rotateY(180deg);
    width: 100px;
    background-color: #6689FF;
}

.service-item:hover h4 {
    letter-spacing: 2px;
}

.service-item>h4:hover {
    color: #6689ff;
}


/* Service Parallax */

.service-parallax {
    background-image: url(../../images/bgs/service-bg.jpeg);
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;
}

.service-parallax>h3 {
    font-size: 34px;
    font-weight: 500;
}

.btn-row {
    display: flex;
}

.service-parallax>p {
    margin-top: 20px;
    margin-bottom: 35px;
}

.btn-row>.btn-border {
    margin-left: 20px;
}