.main-team .wrap {
    padding-left: 3%;
    padding-right: 3%;
}

.team-item, .pricing-item {
    width: calc(100% / 4 - 1%);
    position: relative;
    overflow: hidden;
}

.team-item > img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: .4s;
}

.team-info {
    position: absolute;
    right: 0;
    bottom: 10%;
    left: 0;
    height: fit-content;
    width: 75%;
    color: #fff;
    padding: 15px 0 15px 10%;
    transition: .4s;
    z-index: 1;
}

.team-info > a {
    color: #fff;
}

.team-item:hover .team-info {
    padding-left: 20%;
}

.team-item:hover > img  {
    filter: grayscale(0);
}


.team-info::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
    transform: skew(20deg) translateX(-10%);
}



.pricing-item {
    width: 32%;
    background-color: #1B1929;
    color: #fff;

    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.main-team .wrap.pricing {
    padding-left: 10%;
    padding-right: 10%;
}

.pricing-top {
    text-align: center;
    padding-top: 60px;
}

.pricing-top > h3 {
    font-size: 36px;
}

.pricing-item > .line {
    height: 1px;
    width: 60%;
    opacity: .4;
    margin: 50px auto;
}


.check-item {
    color: #5D6264;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 15px;
}

.check-item > i {
    margin-right: 10px;
}

.check-items {
    margin-bottom: 30px;
}


.pricing-item > a {
    width: 100%;
    background-color: #494C51;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    transition: .4s;
}


.pricing-item > a:hover {
    background-color: #000;;
}

.check-item.active {
    color: #fff;
}

.check-item.active > i {
    color: #6589FF;
}

.back-word, .flag {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 64px;
    opacity: .1;
    margin: auto;
    width: fit-content;
    height: fit-content;
    margin-bottom: 72%;
}

.pricing-item.active > a {
    background-color: #6589FF;
}

.flag {
    margin: 0;
    opacity: 1;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    right: 5%;
    top: 5%;
    left: auto;
    bottom: auto;
    background-color: #6589FF;
    padding: 5px 10px;
    border-radius: 5px;
}