@import url(vendor/reset.css);
@import url(vendor/same.css);
@import url(components/header.css);
@import url(components/home.css);
@import url(components/service.css);
@import url(components/projects.css);
@import url(components/team.css);